@import "tailwindcss";


@theme {
    --color-lightMode: #ffffff;
    --color-main-100: #247382;
    --color-main-200: #FAD24C;

    /* Dark mode */
    --color-darkMode: #111827; 


    --font-arad: "arad", sans-serif;
    --font-lalezar: "Lalezar", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

.custom-pagination .swiper-pagination-bullet {
    @apply w-2 h-2 bg-gray-300 rounded-full cursor-pointer;
    transition:
        transform 0.35s ease,
        width 0.35s ease,
        background-color 0.35s ease,
        opacity 0.35s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
    @apply bg-blue-700 w-4 h-2;
    transform: scale(1);
}

.navigation-swiper-slider {
    @apply hidden p-1 rounded-full md:flex items-center justify-center transition-all duration-300 cursor-pointer
}